
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@*<div>
    <form class="form-input">
        <input type="text" name="Name" class="search">
        <input type="text" name="Phone">
        <textarea name="Content" class="ckeditor"></textarea>
    </form>
    <button class="btnSave" onclick="AddOrUpdate(this)">Ok</button>
    <div></div>
</div>
@section scripts{
    <script src="~/js/AdminCommon.js"></script>
     <script>
         urlGetData = 'ok'
         GetDataToTable(urlGetData, '', 1, 10);
     </script>
}*@