<div class="header_top">
    <div class="container">
        <div class="one-fifth column row_1">
            <span class="selection-box">
                <select class="domains valid" name="domains">
                    <option>English</option>
                    <option>French</option>
                    <option>German</option>
                </select>
            </span>
        </div>
        <div class="cssmenu">
            <ul>
                <li class="active"><a href="login.html">My Account</a></li>
            </ul>
        </div>
    </div>
</div>