
@{
    Layout = "/Areas/Admin/Views/Shared/_LoginLayout.cshtml";

}
<form class="changepass" >
    <div class="card-body">
        <h1>Change Password</h1>
        <p class="text-medium-emphasis">Change password your account</p>
        <div class="input-group mb-3">
            <span class="input-group-text">
                <svg class="c-icon">
                    <use xlink:href="/lib/icon/sprites/free.svg#cil-user"></use>
                </svg>
            </span>
            <input class="form-control" type="password" name="OldPassword" placeholder="Nhập mật khẩu cũ">
        </div>

        <div class="input-group mb-4">
            <span class="input-group-text">
                <svg class="c-icon">
                    <use xlink:href="/lib/icon/sprites/free.svg#cil-lock-locked"></use>
                </svg>
            </span>
            <input class="form-control" type="password" name="NewPassword" placeholder="Nhập mật khẩu mới">
        </div>

        <div class="input-group mb-4">
            <span class="input-group-text">
                <svg class="c-icon">
                    <use xlink:href="/lib/icon/sprites/free.svg#cil-lock-locked"></use>
                </svg>
            </span>
            <input class="form-control" type="password" name="ConfirmedPassword" placeholder="Nhập lại mật khẩu mới">
        </div>


        <div class="row">
            <div class="col-6">
                <button class="btn btn-primary-red px-4" onclick="ChangePass()" type="button">Change Password</button>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script>
        function ChangePass(url) {
            //debugger;
            let data = $('.changepass .form-control').serializeArray();
            let pass = $('.changepass').data('pass');
            var changePass = {};

            jQuery.map(data, function (value, index) {
                changePass[value.name] = [value.value];
            });


            if (JSON.stringify(changePass.NewPassword) !== JSON.stringify(changePass.ConfirmedPassword)) {
                swal("Fail", "New password must be the same!", "warning");
            } else {
                swal({
                    title: "Are you sure with above infomation?",
                    text: "",
                    icon: "warning",
                    buttons: true,
                    dangerMode: false,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            $.ajax({
                                url: '/Admin/Admin/ChangePassword',
                                type: 'post',
                                dataType: 'json',
                                data: changePass,
                                beforeSend: function () {

                                },
                                success: function (res) {
                                    if (res) {
                                        swal(`Your account is changed password!`, {
                                            icon: "success",
                                        }).then((value) => {
                                            location.href = '/Admin/Admin/Index';
                                        });

                                    } else {
                                        swal("Lỗi", "Sai mật khẩu cũ", "error");
                                    }
                                }
                            })

                        } else {
                            swal("Failed!");
                        }
                    });
            }
        }
    </script>

}