
@{
    Layout = "~/Areas/Admin/Views/Shared/_LoginLayout.cshtml";
}
<form class="forgot-password">
    <div class="card-body">
        forgot password
        <h1>Forgot Password</h1>
        <p class="text-medium-emphasis"></p>
        <div class="input-group mb-3">
            <span class="input-group-text">
                <svg class="c-icon">
                     <use xlink:href="/lib/icon/sprites/free.svg#cil-user"></use>
                </svg>
            </span>
            <input class="form-control" type="text" name="Email" placeholder="Email">
        </div>
        <div class="input-group mb-4">
            <span class="input-group-text">
                <svg class="c-icon">
                    <use xlink:href="/lib/icon/sprites/free.svg#cil-lock-locked"></use>
                </svg>
            </span>
            <input class="form-control" type="number" name="Phone" placeholder="Phone">
        </div>
        <div class="row">
            <div class="col-6">
                <button class="btn btn-primary px-4" onclick="ForgotPassword()" type="button">Send Request</button>
            </div>
            <div class="col-6 text-end">
                <button class="btn btn-link px-0" type="button" onclick="GetView('/Admin/Admin/Login')">Have account?</button>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script>
        function ForgotPassword() {
            //debugger
            let data = $('.forgot-password input').serialize();
            $.ajax({
                url: '/Admin/Admin/ForgotPassword',
                type: 'post',
                dataType: 'json',
                data: data,
                success: function (res) {
                    if (res == true) {

                        swal("SUCCESS!", "An email have just sent to you. Please check it!", {
                            icon: "success",
                        }).then((value) => {
                            location.href = '/Admin/Admin/Login';
                        });

                    }
                    else {
                        swal("Oops", "Something went wrong!", "error");
                    }
                }
            })
        }
    </script>
}

